body {
    --text-primary: #111;
    --text-light: #333;
    --mono-font: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    
    font-family: "DIN Next", sans-serif;

    background-color: #e9edf7;
    color: var(--text-primary);
}

a {
    color: var(--text-primary);
}

/* a:visited {
    color: #eddd;
} */

a:active {
    color: #dccc;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index:999;
}

.navbar > * {
    padding: 2ch 4ch;
    margin: 0;

    background-color: #fff;
    color:#000;
}

.navbar .nav-item {
    padding:  0.5ch 0.5ch;
    margin: 0ch 0ch;

    font-size:2ch;
}

.nav-item:hover {
    color: var(--text-light);
}

.home-button {
    text-decoration-line: none;
}

.main-container {
    /* font-family: monospace; */
    /* font-size: large; */
    /* position:fixed; */

    width: 80%;
    min-height: 10ch;
    --side-margin: calc(10% - 4ch);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    margin-top: 6ch;

    padding: 4ch;
}

.rounded-box {
    border: 2px solid #fff8;
    border-radius: 1ch;
}

.background {
    background: 
        radial-gradient(ellipse at top, #649de6, transparent), 
        radial-gradient(ellipse at bottom, #070e22, transparent),
        repeating-linear-gradient(#0000 0px, #777a 4px, #777a 6px, #0000 8px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background > img {
    height: 25ch;
    width: 25ch;
    
    position: relative;
    top: calc(50% - 12.5ch);
    left: calc(50% - 12.5ch);

    filter: hue-rotate(190deg) drop-shadow(1px 1px 4px black);
}

.text-input {
    width: 50ch;
    height: 4ch;
    padding: 0ch 1ch;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1ch;
}

.button {
    border: 1px solid #bbb;
    padding: .2ch 1ch;
    background-color: #9996;
    color: var(--text-primary);
}

.glow-text {
    --glow-color: currentColor;
    --glow-size: 1.5px;

    text-shadow:
        1px 1px var(--glow-size) var(--glow-color), 
        1px 1px var(--glow-size) var(--glow-color);
}

.mid-lined {
    --color: currentColor;
    --left: 50%;
    color: var(--color);
    display: flex;
    margin: 0 1ch;
}

.mid-lined > * {
    /* font-size: 0.75rem; */
    padding: 0 1ch;
    margin: 0;
    pointer-events: none;
    white-space: nowrap;
}

.mid-lined::before {
    width: var(--left);
}

.mid-lined::after {
    width: calc(100% - var(--left));
}

.mid-lined::before, .mid-lined::after {
    content: " ";
    background-image: linear-gradient(0deg, 
        transparent calc(45% - 0.9px), 
        var(--color) calc(45% - 0.9px) calc(45% + 1px), 
        transparent calc(45% + 1px));
}

select {
  width: 20ch;
  height: 6ch;
  font-weight: 600;
  padding-left: 2ch;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 1ch;
}

legend {
    font-weight:600;
    color: #68a;
}

label {
    font-weight: 500;
}

fieldset {
    border: none;
}

.submit {
    width: 14ch;
    height: 4ch;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1ch;
    cursor: pointer;
    text-align: center;
}

.submit:hover {
    font-weight: 700;
    border: 1px solid #999;
}

.number {
    width:6ch;
    height: 4ch;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1ch;
    cursor: pointer;
    padding:0 1ch 0 1ch;
    cursor:text;
}

.number:hover {
    font-weight: 700;
    border: 1px solid #999;
}

input:disabled {
    cursor:not-allowed;
}

.product-listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
    gap: 35px 25px;
}

.product-listing > * {
    width: 100%;
    /* padding: 2ch; */
    /* border: 1px solid #bbb; */
    border-radius: 1.5ch;
    /* background-color: #989ca0; */
    /* background-image: radial-gradient(#0000, #0002) */
    /* position: relative; */
}

.product-listing > *:hover {
    margin: -5px;
    width: calc(100% + 10px);
    /* filter: drop-shadow(2px 2px 4px #99a7); */
}

.product-listing > *:hover img {
    filter: drop-shadow(2px 2px 4px #99a5);
}

.product-listing img {
    /* margin:1ch 2ch; */
    
    max-height: 400px;
    max-width: 100%;
    /* width: calc(100% - 4ch); */
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    border-radius: 1.5ch;
    filter: drop-shadow(2px 2px 4px #99a2);
}

.product-info {
    /* padding: 1ch 2ch 2ch 2ch; */
    margin: 1ch;
    padding: 0.5ch 1.5ch 1ch 1.5ch;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    background-color: #d5d5f900;
    border-radius: 1ch;
}

.product-listing > *:hover .product-info {
    margin: calc(1ch - 5px) calc(1ch + 5px) calc(1ch + 5px) calc(1ch + 5px);
    /* background-color: #d5d5f970; */
    animation: listing-highlight 0.2s 0s cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes listing-highlight {
  100% {
    background-color: #d5d5f970;
  }
}

.product-info a {
    text-decoration: none;
    /* cursor: default; */
    /* color:  */
}

.product-details {
    float: right;
    font-family: var(--mono-font);
    text-align: center;

    margin-top: -0.25ch;
    padding: 0.5ch 1.5ch;
    font-weight: 500;
    font-size: 1.7ch;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 1ch;
    cursor: pointer;
}

.product-listing > *:hover .product-details {
    /* margin: -5px;
    width: calc(100% + 10px); */

    /* margin-right: 5px; */
    /* padding: calc(0.5ch + 10px), calc(1.5ch + 10px); */
}


.price {
    font-family: var(--mono-font);
    font-weight: 400
}

.cart-items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.cart-items > * {
    padding: 1.5ch 2ch;
    background-color: #f9faff;
    border: 1px solid #bbb;
    border-radius: 1ch;
}

#errorList {
    color:#ff3a4b;
    margin-left:-0.5ch;
    width:47ch;
    font-size: 1.5ch;
}

#errorList:has(> *) {
    padding: 1.5ch 2ch;
    background-color: #ffe6ed;
    border: 1px solid #ff3a4b;
    border-radius: 1ch;
}

